@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

:root {
    --main-color: #ff6f00ce;
    --bg-color: #fff;
    --second-color: #212121;
    --other-color: #d1d0d085;
    --text-color: #111;

    --big-font: 5vw;
    --h2-font: 2vw;
    --p-font: 1vw;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 3% 5%;
    transition: all 0.5s ease;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 3vw;
    font-weight: 700;
}

.logo i {
    vertical-align: middle;
    margin-right: 8px;
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-size: Var(--h2-font);
    font-weight: 600;
    margin: 0 30px;
    transition: all 0.5s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a.active {
    color: var(--main-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
}

#menu-icon {
    font-size: 3vw;
    color: var(--bg-color);
    z-index: 100001;
    cursor: pointer;
    display: none;
}

/* Home */
section {
    padding: 5% 10%;
}

.home {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2%;
}

.home-img {
    width: 100%;
    height: auto;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 30;
    line-height: 1.3;
    margin-bottom: 3%;
}

span {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1% 3%;
    background: var(--other-color);
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.btn i {
    vertical-align: middle;
    margin-left: 1vw;
    font-size: 2vw;
}

.btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #ff9f0d 0px 1px 25px;
}

.btn2 {
    display: inline-block;
    margin-left: 3vw;
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.5s ease;
}

.btn2:hover {
    transform: scale(1.1) translateX(12px);
}

/* Container 
.container {
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, auto));
    gap: 2%;
    text-align: center;
}

.container-box {
    padding: 4%;
    background: var(--other-color);
    border-radius: 2rem;
}

.container-box img {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.container-box h3 {
    font-size: var(--h2-font);
    font-weight: bold;
    margin: 2% 0;
}

.container-box a {
    color: var(--second-color);
    font-size: var(--p-font);
    letter-spacing: 1px;
    transition: all 0.5s ease;
}

.container-box a:hover {
    color: var(--main-color);
} */

/* Graphics */
.graph {
    max-height: 600px;
    padding: 5% 0%;
    margin-left: 20%;
    width: 80%;
    display: grid;
    grid-template-rows: 5% 95%;
    align-items: center;
    gap: 4%;
}

.selectors {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 20% 30%;
    gap: 3%;
}

.selectors3 {
    margin-left: -5%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 20% 20% 40%;
    gap: 3%;
}
  
.selectors select {
    padding: 5px;
    font-size: 16px;
}

.heatmap {
    margin-left: -5%;
    display: grid;
    grid-template-columns: 3% 3% 95%;
}

.legend {
    margin-top: 80%;
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15% 15% 15%;
}

.legend z {
    background-color: #f20707;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.legend a {
    background-color: #685546;
}

.legend b {
    background-color: #f26d079f;
}

.legend c {
    background-color: #929292;
}

.legend d {
    background-color: rgba(0, 204, 204, 0.416);
}

.legend e {
    background-color: aqua;
}

.legend x {
    background-color: rgb(0, 34, 255);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.values-legend {
    margin-top: 60%;
    margin-right: 10%;
    font-size: 70%;
    text-align: right;
    display: grid;
    grid-template-rows: 14% 15% 14% 15% 15% 15% 13%;
}

/* Shop 
.middle-text {
    text-align: center;
}

.middle-text h4 {
    font-size: 4vw;
    font-weight: 700;
    margin-bottom: 1%;
    color: var(--main-color);
}

.middle-text h2 {
    font-size: var(--h2-font);
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2%;
    align-items: center;
    margin-top: 5%;
}

.row {
    position: relative;
    padding: 1% 3.5% 4%;
    background: var(--other-color);
    border-radius: 2rem;
}

.row img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.row img:hover {
    transform: scale(1.1);
}

.in-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.in-text .s-btn a {
    display: inline-block;
    padding: 9px 23px;
    background: var(--bg-color);
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all 0.5s ease;
}

.in-text .s-btn a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #ff9f0d 0px 1px 25px;
}

.top-icon {
    position: absolute;
    top: 30px;
    left: 35px;
}

.top-icon i {
    font-size: 22px;
    color: var(--main-color);
}

.row-btn {
    text-align: center;
    margin-top: 6rem;
} */

/* Review 
.reviews-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2%;
    align-items: center;
    margin-top: 2%;
}

.box {
    padding: 2%;
    background: var(--other-color);
    border-radius: 3rem;
}

.box p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 300%;
    padding: 1%
}

.in-box {
    display: flex;
    align-items: center;
    gap: 2%;
}

.bx-img img {
    width: 100%;
    height: auto;
    border-radius: 3rem;
}

.bx-text h4 {
    margin: 5px 0;
    font-size: 18px;
}

.bx-text h5 {
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.ratings i {
    color: var(--main-color);
    font-size: 18px;
    margin-right: 5px;
} */

/* Contact 
.contact-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact-text {
    text-align: center;
    margin-bottom: 5%;
}

.contact-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 10px;
}

.contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    max-width: 90%;
    line-height: 150%;
    margin-bottom: 3%;
}

.social i {
    display: inline-block;
    font-size: 4vw;
    color: var(--second-color);
    margin: 0 20px;
    transition: all 0.5s ease;
}

.social .clr i {
    color: var(--main-color);
}

.social i:hover {
    color: var(--main-color);
}

.details {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3%;
}

.main-d a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 3vw;
    font-weight: 600;
}

.main-d i {
    vertical-align: middle;
    margin-right: 1%;
    font-size: 4vw;
    color: var(--main-color);
}*/

/* Scroll */
.scroll {
    position: fixed;
    bottom: 2.2rem;
    border-top: 2rem;
    right: 3.2rem;
}

.scroll i {
    font-size: 22px;
    color: var(--text-color);
    background: var(--main-color);
    padding: 10px;
    border-radius: 2rem;
}

@media (max-width: 800px) {
    #menu-icon {
        display: initial;
    }
    .navlist {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background: var(--other-color);
        transition: all 0.5s ease;
    }
    .navlist a {
        display: block;
        padding: 0.5rem;
        margin: 1rem;
        border-left: 2px solid var(--main-color);
    }
    .navlist.open {
        top: 100%;
    }
    .section {
        padding: 5%;
    }
    .graph {
        padding: 5%;
        margin-left: 0%;
        width: 100%;
    }
    .selectors {
        grid-template-columns: auto;
    }
    .selectors3 {
        margin-left: 0%;
        grid-template-columns: auto;
    }
    .heatmap {
        margin-left: 0%;
        grid-template-columns: 5% 5% 90%;
    }
    .heatmap svg {
        max-width: 300px;
        max-height: 200px;
    }
    .legend {
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10%;
    }
    .values-legend {
        font-size: 50%;
        grid-template-rows: 9% 9% 10% 10% 10% 10% 9%;
}
}